<footer th:fragment="footer">
	<hr class="mt-4">
	<div class="container-fluid mt-5">
		<div class="row text-center">
			<!-- 	<div class="col-2"></div> -->
			<div class="col-3">
<!-- 				<img th:src="@{images/logo.jpg}" class="rounded-circle" width="150" alt="Imagen de Inicio">
 -->			<a class="navbar-brand" th:href="@{/}"> <img
				th:src="@{/images/logo.jpg}" class="float-left rounded-circle"
				alt="Logo" width="100" height="">
			</a>
			</div>
			<div class="col-3">
				<ul class="list-unstyled">
					<li class="mb-1"><strong>Contacto:</strong></li>
					<li>Email: doghouse.com</li>
					<li>Teléfono:
					<li>787-898-3055</li>
					<li>787-555-0987</li>
					</li>
				</ul>
			</div>
			<div class="col-3">
				<ul class="list-unstyled">
					<li class="mb-1"><strong>Dirección:</strong></li>
					<li>Carr. 486</li>
					<li>Km. 9.32</li>
					<li>Interior Camuy, PR</li>
				</ul>
			</div>
			<div class="col-3">
				<ul class="list-unstyled">
					<li class="mb-1"><strong>Redes Sociales:</strong></li>
					<li>FaceBook</li>
					<li>Instagram</li>
					<li>Twiter</li>
				</ul>
			</div>
		</div>
		<hr class="mt-5">
		<div class=text-center>
			<p>® 2024 - Creado por Jerryezer Torres </p></div>
	</div>
</footer>